@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

*{
    margin: 0;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.main-header__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
}
.main-header__item {
    list-style: none;
}
.main-header__link {
    font-family: 'Poppins';
    font-weight: 500;
    color: #242323;
    font-size: 16px;
    line-height: 33px;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.first-screen {
    width: 1400px;
    height: 900px;
    background: url('img/first-screen-bg.png') no-repeat;
    padding: 0 100px;
    box-sizing: border-box;
    background-position: center;
    border-radius: 50px;
}
.first-screen__title {
    font-size: 86px;
    font-family: 'Poppins';
    font-weight: 900;
    padding-top: 30px;
}
.first-screen__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    color: #191818;
    padding-top: 20px;
}
.first-screen__button {
    border: none;
    width: 220px;
    height: 80px;
    background-color: #000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin: 20px;
}

.catalogue {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

.catalogue__list {
    display: flex;
    justify-content: space-between;
}

.catalogue__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.product {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.product__img {
    width: 380px;
}
.product__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}
.product__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #7F7F7F;
}